html {
  scrollbar-gutter: stable;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroll-snap-container {
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e97058;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e97058;
}

:focus-visible {
  outline: none;
  border: none;
}
